*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%; /* picture stays in container */
}
body{
    font-size: 20px;
     font-family: "Montserrat", sans-serif;
}

.btn-learn-more {
    background-color: rgb(0, 113, 227);
    color: white;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 400;
    border-radius: 980px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

.btn-shop-iphone {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 102, 204);
    border-color: rgb(0, 102, 204);
    border-top-color: rgb(0, 102, 204);
    border-bottom-color: rgb(0, 102, 204);
    border-right-color: rgb(0, 102, 204);
    border-color: rgb(0, 102, 204);
    font-size: 14px;
    font-weight: 400px;
    text-align: center;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 980px;
    cursor: pointer;
}

/* HEADER STYLING */
.header-wrapper{
    background-color: rgba(255, 255, 255, 0.95);
    color: rgb(29, 29, 29);
    position: fixed;
    height: 48px;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: normal;
    font-size: 0.6em;
    font-weight: 700;
    text-size-adjust: 100%;

}
.header-wrapper ul{
    display: flex;
    justify-content: space-between;
}
.internal-wrapper{
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
}
.header-links-wrapper ul li a{
    text-decoration: none; /*undeline*/
    color: rgb(0, 0, 0);
}
.header-wrapper ul{
    list-style-type: none; /*remvves dot*/
}
.header-wrapper .header-links-wrapper ul li{
    display: inline-block;
    padding: 14px 0 8px;
    height: 25px;
    opacity: 0.8; 

}
.header-wrapper .header-links-wrapper ul li:hover {
    opacity: 1;
}
.logo-link, .search-link, .cart-link {
    width: 18px;
    display: block;
}
.header-wrapper .header-links-wrapper ul li.logo-link{
    padding: 12px 0 10px;
}
.header-wrapper .header-links-wrapper ul li.search-link{
    padding: 12px 0 10px;
}.header-wrapper .header-links-wrapper ul li.cart-link{
    padding: 12px 0 10px;
}


/* FOOTER STYLING */
.footer-wrapper{
    background-color: #f5f5f7;
    color: #1d1d1f;
    font-size: 0.65em;
}
.upper-text-container{
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0 20px;
    margin: 0px 255px;
}
.upper-text-container a{
    text-decoration: none;
    color: #515154;
}
.upper-text-container a:hover{
    text-decoration: underline;
}
.footer-links-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0px 255px;
}
.footer-wrapper ul{
    list-style-type: none;
    padding-bottom: 20px;
}
.footer-wrapper ul li{
    padding: 5px;
    font-size: 0.9em;
}
.footer-links-wrapper a{
    color: #515154;
    text-decoration: none;
}
.footer-links-wrapper a:hover{
    text-decoration: underline;
}
.footer-links-wrapper h3{
    font-size: 12px;
    font-weight: 600;
}
.my-apple-wrapper{
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 260px;
}
.copyright-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 20px;
    margin-left: 260px;
}
.footer-links-terms ul li{
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #ccc;
}
.footer-links-terms ul li:last-child{
    border-right: 0px;
}
.footer-links-terms ul li a{
    text-decoration: none;
    color: #515154;
}
.footer-links-terms ul li a:hover{
    text-decoration: underline;
}
.footer-country{
    display: inline-block;
    margin-right: 260px;
}
.flag-wrapper{
    display: inline-block;
    vertical-align: middle;
}
.footer-country-name{
    display: inline-block;
    vertical-align: top;
}



/* MAIN-HIGHLIGHT STYLING */
.main-highlight-wrapper{
    background:#fafafa;
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 25px 0;
    margin-bottom: 10px;
    background-image: url("../Resources/home/hero-iphone-family.jpg");
}
.links-wrapper ul{
    list-style: none;
}
.model{
    font-size: .85em;
}
.product-title{
    font-weight: 700;
    font-size: 56px;
}
.brief-description{
    font-size: 2em;
}
.links-wrapper{
    padding: 15px 0;
}
.links-wrapper ul li{
    display: inline-block;
    padding-right: 20px;
}
.links-wrapper ul li a{
    color: #06c;
    text-decoration: none;
}
.links-wrapper ul li a:hover{
    color: #000;
}
.links-wrapper ul li a:after{
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}


/* SECOND HIGHLIGHT STYLING */
.second-highlight-wrapper{
    background-image: url("../Resources/home/fathers-day-bg.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
    color: #000000;
}
.title-wrapper{
    font-weight: 600;
    font-size: 56px;
}
.description-wrapper{
    font-size: 20px;
    padding: 10px 0;
}
.price-wrapper{
    color: #86868b;
    font-size: 0.85em;
}


/* THIRD HIGHLIGHT STYLING */
.third-highlight-wrapper{
    background-image: url("../Resources/home/apple-for-college.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
    color: #000000;
}

/* FOURTH HIGHLIGHT STYLING */
.fourth-highlight-wrapper{
    display: flex;
    justify-content: space-between;
    background: #ffffff;
}
.left-side-wrapper{
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 0.5% 0% 1%;
    padding-top: 54px;
}
.fourth-highlight-wrapper .left-side-wrapper{
    background-image: url("../Resources/home/mac-book-air.jpg");
}
.right-side-wrapper{
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 0.5% 0% 1%;
    padding-top: 54px;
}
.fourth-highlight-wrapper .right-side-wrapper{
    background-image: url("../Resources/home/ipad-air.jpg");
}
.description-wrapper{
    max-width: 430px;
    margin: 0 auto;
    padding: 10px;
}


/* FIFTH HIGHLIGHT STYLING */
.fifth-highlight-wrapper{
    display: flex;
    justify-content: space-between;
    background: #ffffff;
}
.fifth-highlight-wrapper .left-side-wrapper{
    background-image: url("../Resources/home/mac-book-pro.jpg");
}
.fifth-highlight-wrapper .right-side-wrapper{
    background-image: url("../Resources/home/apple-watch.jpg");
    color: #ffffff;
    background-size: initial;
    background-color: #000;
    background-position: bottom;
}
.logo-wrapper{
    font-size: 40px;
    font-weight: bold;
}
.tv-show-logo-wrapper{
    padding: 180px 0 200px;
}
.watch-more-wrapper a{
    text-decoration: none;
    font-size: 0.85em;
}
.watch-more-wrapper a:after{
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f144";
    padding-left: 15px;
}
.watch-more-wrapper{
    margin-top: 370px;
}


/* SIXTH HIGHLIGHT STYLING*/
.sixth-highlight-wrapper{
    display: flex;
    justify-content: space-between;
    background: #fff;
}
.sixth-highlight-wrapper .left-side-wrapper{
    background-image: url("../Resources/home/airpods-pro3.jpg");
    background-size: initial;
    background-color: #fafafa;
    background-position: bottom;
}
.sixth-highlight-wrapper .right-side-wrapper{
    background-image: url("../Resources/home/trade-in.jpg");
}
.product-title-small{
    font-weight: 700;
    font-size: 45px;
}